body {
    min-width: 1000px;
}
a{
    color: inherit;
    text-decoration: none;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
}

.header-logo {
    display: block;
    height: 30px;
    margin: 10px 40px 30px;
}

.header-nav-list {
    display: flex;
}

.header-nav-item {
    margin-right: 25px;
}

.header-nav-item:last-of-type {
    margin-right: 40px;
}

.header-nav-item-link {
    color: #a9a9a9;
    cursor: pointer;
}

.main {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.first {
    margin: 0 0 0 auto;
text-align: right;
position: relative;
width: 1000px;
}

.first-img {
    width: 60%;
    
}
.first-pickup,
.first-group-ttl {
    color: #b31478;
}

.first-span {
    color: #12b3b3;
}

.first-pickup {
    position: absolute;
    left: 15%;
    bottom: 50%;
    font-size: 70px;
    font-family: 'Caveat', cursive;
    width: 600px;
    line-height: 140%;
    display: block;
    text-align: left;
}

.first-group-ttl {
    position: absolute;
    left: 15%;
    bottom: 45%;
    font-size: 20px;

}

.first-group-text {
    position: absolute;
    left: 15%;
    bottom: 30%;
    width: 250px;
    font-size: 14px;
    line-height: 200%;
    color: #a9a9a9;
    text-align: left;
}

.news {
    width: 800px;
    margin: 80px auto;
}

.news-ttl {
    color: #b31478;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}

.news-description {
    margin: 15px 0 30px;
    font-size: 25px;
    color: #808080;
}

.news-list {
    border-top: 2px solid #a9a9a9;
    border-bottom: 2px solid #a9a9a9;
}

.news-item {
    display: flex;
    padding: 20px 0;
    align-items: center;
    border-bottom: 1px solid #a9a9a9;
}

.news-item:first-of-type {
    margin-top: 20px;
}

.news-item:last-of-type {
    margin-bottom: 30px;
}

.news-item-date,
.news-item-category {
    margin-right: 30px;
}

.news-item-date,
.news-item-text {
    color: #808080;
}

.news-item-category {
    color: white;
    padding: 5px 20px;
    background: #b31478;
    border-radius: 30px;
}

.about {
    width: 100%;
    text-align: center;
    background: #f0f0f0;
}
.about-wrapper{
    margin: 0 auto;
    width: 800px;
    padding: 30px 100px;
}
.about-ttl {
    color: #b31478;
    font-family: 'Caveat', cursive;
    margin-bottom: 20px;
    font-size: 20px;
}

.about-description {
    font-size: 25px;
    color: #808080;
    margin-bottom: 40px;
}

.about-detail {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.about-detail-text {
    width: 340px;
    text-align: left;
    font-size: 14px;
    line-height: 150%;
    color: #808080;
}

.about-detail-img {
    width: 30%;
    padding: 0 200px 0 0;
}

.service {
    width: 1000px;
    margin: 80px auto;
}

.service-ttl {
    color: #b31478;
    font-family: 'Caveat', cursive;
    margin-bottom: 20px;
    font-size: 20px;
}

.service-description {
    font-size: 25px;
    color: #808080;
    margin-bottom: 40px;
}

.service-card {
    display: flex;
    margin: 0 auto;
    color: white;
}

.service-card1 {
    background: #db43a2;
    width: 50%;
    text-align: center;
}

.service-card1-img {
    width: 150px;
    margin-top: 50px;
}

.service-card1-ttl {
    margin-top: 15px;
    font-size: 20px;
}

.service-card1-text {
    width: 390px;
    margin: 20px auto 0;
    text-align: left;
    line-height: 150%;
}

.service-card2 {
    width: 50%;
}

.service-item {
    display: flex;
    background: #db7bb7;
    height: 50%;
}

.service-item:last-of-type {
    background: #e1adce;
}

.service-item-img {
    width: 150px;
    margin: 30px 20px;
}

.service-item-textarea {
    margin-top: 50px;
}

.service-item-ttl {
    font-size: 20px;
    margin-bottom: 15px;
}

.service-item-text {
    width: 290px;
    line-height: 180%;
    
}

.blog {
    padding: 50px 0;
    width: 100%;
    margin: 0 auto;
    background: #f0f0f0;
}

.blog-wrapper {
    width: 1000px;
    margin: 0 auto;
}
.blog-ttl{
    color: #b31478;
    font-family: 'Caveat', cursive;
    margin-bottom: 20px;
    font-size: 20px;
}
.blog-description{
    font-size: 25px;
    color: #808080;
}
.blog-card {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.blog-card-wrapper{
    width: 30%;
}
.blog-card-category{
    color:white;
    background: #db43a2;
    display: inline-block;
    padding:10px 20px;
    position: absolute;
     z-index: 10;
    border-radius: 10px 0 0 0;
}

.blog-card-img {
    position: relative;
    width: 100%;
    display: block;
    border-radius: 10px 10px 0 0 ;
}
.blog-card-description{
    background: white;
    color: #808080;
    border-radius: 0 0 10px 10px;
    padding:20px 30px;
}
.blog-card-ttl{
    line-height: 180%;
}
.blog-card-box{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.blog-more{
    display: block;
    margin: 30px auto 0;
    padding:20px 0;
    width: 200px;
    background: white;
    border: 2px #b31478 solid;
    border-radius: 30px;
    text-align: center;
    font-size: 14px;
    color: #b31478;
}
.info{
    width: 800px;
    padding: 100px;
    margin: 0 auto;
}
.info-ttl{
     color: #b31478;
    font-family: 'Caveat', cursive;
    margin-bottom: 20px;
    font-size: 20px;
}
.info-description{
    font-size: 25px;
    color: #808080;
    margin-bottom: 40px;

}
.info-table{
width: 100%;
}
.info-table-item-about,.info-table-item-detail{
    border: #DEDEDE 1px solid;
    padding: 20px;
    color: #808080;
}
.info-table-item-about{
    background:#F5F5F5 ;
    text-align: left;
    width: 30%;
}
.content{
    display: flex;
    padding-bottom: 50px;
}
.content-link{
    width: 50%;
    position: relative;
}
.content-link-img{
    width: 100%;
}
.content-link-text{
    color:white ;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.form-text{
    width: 380px;
    margin: 0 auto;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
}
.form-span{
    color: #b31478;
    font-size: 40px;
}
.form-link{
    display: block;
    background:linear-gradient(90deg,#FE1E90,#B71568);
    width: 200px;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow:0 10px 0 #840151 ;
    position: relative;
    margin-bottom: 50px;
}
.form-link::before{
    content: "";
    background: url(../img/mailicon.svg);
    width: 25px;
    height: 25px;
    position: absolute;
    left: 20px;
    top: 15px;
}
.footer{
    text-align: center;
    padding: 30px 0;
    background:#F5F5F5 ;
}
.footer-copyright{
    font-size: 14px;
    color: #808080;
}
.footer-span{
    font-size: 10px;
    vertical-align: middle;
    
}